.people_page {
    .avatar {
        border-radius: 0.75rem;
        max-width: 100%;
    }

    figure {
        .text-muted {
            text-align: right;
        }
    }

    .content {
        max-width: 100%;
        @media (min-width: $bp-xl) {
            max-width: 60%;
            padding: 2rem;
        }
    }
}
